sudo: false
dist: focal
arch: [arm64] #[amd64,arm64]
language: go
go: "1.15.x"

service: [docker]
addons:
  apt:
    # conntrack, socat required by kubeadm
    packages: [jq,conntrack,socat]

before_install:
  # ensure we're using recent docker with containerd >= 1.3.4 so as to be able to use gcr mirror
  #- sh hack/update-docker.sh

  - sh hack/docker-systemd.sh
  - sudo service docker restart || (systemctl status docker.service; journalctl -xe)
  - docker info

  # Remove buildkit'isms from Dockerfiles
  #- sh hack/strip-buildkitisms.sh

install: 
  - mkdir -p $HOME/bin
  - curl -Lo $HOME/bin/skaffold https://storage.googleapis.com/skaffold/builds/latest/skaffold-linux-${TRAVIS_CPU_ARCH}
  - curl -Lo $HOME/bin/container-structure-test https://storage.googleapis.com/container-structure-test/latest/container-structure-test-linux-${TRAVIS_CPU_ARCH}
  #- curl -Lo $HOME/bin/kind https://github.com/kubernetes-sigs/kind/releases/download/v0.11.1/kind-linux-${TRAVIS_CPU_ARCH}
  - curl -Lo $HOME/bin/minikube https://storage.googleapis.com/minikube-builds/master/minikube-linux-${TRAVIS_CPU_ARCH}

  - curl -Lo $HOME/bin/kubectl https://storage.googleapis.com/kubernetes-release/release/v1.18.0/bin/linux/${TRAVIS_CPU_ARCH}/kubectl
  - chmod +x $HOME/bin/*
  - export PATH=$HOME/bin:$PATH
  - skaffold config set --global collect-metrics false

script:
  - TERM=dumb minikube start --driver=none --extra-config="--ignore-preflight-errors=SystemVerification" \
    || travis_terminate $?

  - (cd nodejs/helper-image; go test .)
  - (cd python/helper-image/launcher; go test .)

  # try building before integration tests
  - skaffold build -p local -v info -p integration || travis_terminate $?

  # we had `run-its.sh` in `after_success` but it doesn't cause failures
  - bash ./run-its.sh -p local

