sudo: false
services:
  - docker
install: 
  - mkdir -p $HOME/bin
  - curl -Lo $HOME/bin/skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
  - curl -Lo $HOME/bin/container-structure-test https://storage.googleapis.com/container-structure-test/latest/container-structure-test-linux-amd64
  - chmod +x $HOME/bin/*
  - export PATH=$HOME/bin:$PATH
script:
  - env | sort
  - $HOME/skaffold build -p local
