sudo: false
services:
  - docker
install: 
  - curl -Lo $HOME/skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64 && chmod +x $HOME/skaffold
script: $HOME/skaffold build
